<a href="https://colab.research.google.com/github/priyanshgupta1998/Machine_learning/blob/master/Drug_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
train= pd.read_csv('/home/train_file.csv').copy()
test= pd.read_csv('/home/test_file.csv').copy()

In [21]:
print(train.shape)
train.head(3)

(55399, 17)

,Patient_ID,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,GeoLocation,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability
0,1,1995,"Houston, TX",1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",335.0,Female,Hispanic or Latino,4,"(29.760427, -95.369803)",H49,1,4,0,Local,7.4793
1,2,1997,"Houston, TX",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",382.0,Total,Black or African American,4,"(29.760427, -95.369803)",H42,0,3,0,Local,49.6852
2,3,1993,Nevada,0,Had their first drink of alcohol before age 13...,other than a few sips,196.0,Female,White,0,"(39.493240390000494, -117.07184056399967)",H41,1,6,2,State,47.8132

In [0]:
train.columns

In [0]:
train.info()

In [0]:
train.isna().sum()

In [0]:
test.isna().sum()/len(test)

In [0]:
train['sample']=1
test['sample']=0
train.head(3)

In [0]:
df=pd.concat([train,test])

In [0]:
print(df.shape)
df.head(3)

In [0]:
df.reset_index(inplace=True,drop=True)    # chnages which has been done must be permanent

In [0]:
print(df.shape)
df.head(3)

In [0]:
df['Greater_Risk_Question'].value_counts()   # give the unique one questions

In [0]:
df[df['GeoLocation'].isna()].LocationDesc.value_counts()

In [0]:
df[df['LocationDesc']=='United States'].GeoLocation.value_counts()

In [0]:
n=df[df['LocationDesc']=='United States'].index
for i in n:
    df.loc[i, 'GeoLocation']='(39.7837304, -100.4458825)'

In [0]:
n=df[df['LocationDesc']=='Navajo'].index
for i in n:
    df.loc[i, 'GeoLocation']='(35.1819775, -110.3549451)'

In [0]:
n=df[df['LocationDesc']=='New Orleans, LA'].index
for i in n:
    df.loc[i, 'GeoLocation']='(29.9499323, -90.0701156)'

In [0]:
n=df[df['LocationDesc']=='Shelby County, TN'].index
for i in n:
    df.loc[i, 'GeoLocation']='(35.1782557, -89.8739775)'

In [0]:
n=df[df['LocationDesc']=='Cherokee Nation'].index
for i in n:
    df.loc[i, 'GeoLocation']='(36.1342565, -94.9477014208174)'

In [0]:
n=df[df['LocationDesc']=='Nez Perce'].index
for i in n:
    df.loc[i, 'GeoLocation']='(46.3959861, -116.8072307)'

In [0]:
df[df['GeoLocation'].isna()].LocationDesc.value_counts()

In [0]:
df.isna().sum()

In [0]:
df['Greater_Risk_Question'].value_counts()

In [0]:
df['Grade'].value_counts()

In [0]:
df['QuestionCode'].value_counts()

In [0]:
df['Race'].value_counts()

In [0]:
df['Sex'].value_counts()

In [0]:
df['StratID1'].value_counts()

In [0]:
df['StratificationType'].value_counts()

In [0]:
df['Subtopic'].value_counts()

In [0]:
df['YEAR'].value_counts()

In [0]:
data = df.copy()

In [52]:
data.shape

(92331, 18)

In [0]:
jk = '(29.9499323, -90.0701156)'
jk = jk[1:]
print(jk)

In [0]:
jk = '(29.9499323, -90.0701156)'
jk = jk[1:]
print(jk.split(','))

In [0]:
def location(x):
    x=x[1:-1]
    return x.split(',')

In [0]:
GeoLocation=data.GeoLocation.apply(location)

In [0]:
data.head(3)

In [0]:
GeoLocation.values.tolist()[:5]

In [0]:
pd.DataFrame(GeoLocation.values.tolist(),columns=['latitute','longitude']).head(3)

In [0]:
print(data.shape)
data.head(3)

In [0]:
pd.get_dummies(data.StratificationType).head(3)

In [0]:
data = pd.concat([data,pd.get_dummies(data.Greater_Risk_Question),pd.get_dummies(data.QuestionCode),pd.get_dummies(data.Race),pd.get_dummies(data.Sex),pd.get_dummies(data.StratificationType),pd.DataFrame(GeoLocation.tolist(),columns=['latitute','longitude'])],axis=1)

In [0]:
print(data.shape)
data.head(3)

In [0]:
data=data.select_dtypes(exclude='object')

In [79]:
print(data.shape)
data.head(3)

(92331, 66)

,Grade,Greater_Risk_Probability,Patient_ID,Sample_Size,StratID1,StratID2,StratID3,Subtopic,YEAR,sample,...,Total,White,Female,Male,Total,Local,National,Other,State,Territory
0,4,7.4793,1,335.0,1,4,0,1,1995,1,...,0,0,1,0,0,1,0,0,0,0
1,4,49.6852,2,382.0,0,3,0,0,1997,1,...,0,0,0,0,1,1,0,0,0,0
2,0,47.8132,3,196.0,1,6,2,0,1993,1,...,0,1,1,0,0,0,0,0,1,0

In [0]:
train=data[data['sample']==1]
test=data[data['sample']==0]
test.reset_index(inplace=True,drop=True)
train=train.drop(['sample'],axis=1)
test=test.drop(['sample','Greater_Risk_Probability'],axis=1)

In [0]:
print(train.shape , test.shape)

In [0]:
train.head(3)

In [0]:
train_y=train['Greater_Risk_Probability']
train_x=train.drop(['Greater_Risk_Probability'],axis=1)

In [83]:
train_y.head(3)

0     7.4793
1    49.6852
2    47.8132
Name: Greater_Risk_Probability, dtype: float64

In [0]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()
clf = clf.fit(train_x, train_y)

In [0]:
pred=clf.predict(test)

In [0]:
pred

In [0]:
sub=pd.DataFrame()
sub['Patient_ID']=test['Patient_ID']
sub['Greater_Risk_Probability']=pred

In [95]:
sub.head(3)

   Patient_ID  Greater_Risk_Probability
0       55400                   38.2699
1       55401                   35.5500
2       55402                   56.8783

In [0]:
sub.to_csv('/home/submit.csv',index=False)