<a href="https://colab.research.google.com/github/priyanshgupta1998/Machine_learning/blob/master/hacker_earth_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Program to extract number of 
# columns in Python 
import xlrd 

loc = ("/content/Rule book for the five datapoints.xlsx") 

wb = xlrd.open_workbook(loc) 
sheet = wb.sheet_by_index(0) 

# For row 0 and column 0 
sheet.cell_value(0, 0) 

# Extracting number of columns 
print(sheet.ncols) 
print(sheet.nrows)

15
6

In [0]:
for i in range(sheet.nrows): 
    for j in range(sheet.ncols):
        print(sheet.cell_value(i, j)) 
    print("=---==")

In [10]:
import pandas as pd
df = pd.read_csv("/content/Results2394dca.csv")
df.head()

     For Lookup  ...  Pension Plan 2 Total Pension Liability
0  1013737_2016  ...                                     NaN
1  1028564_2016  ...                                     NaN
2   711506_2016  ...                                     NaN
3   702336_2016  ...                                     NaN
4  1029684_2017  ...                                     NaN

[5 rows x 15 columns]

In [0]:
!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
# This permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

In [15]:
!kaggle datasets download -d priyansh98/extract-accounting-information-using-nlp

Downloading extract-accounting-information-using-nlp.zip to /content
100% 1.57G/1.58G [00:18<00:00, 40.3MB/s]
100% 1.58G/1.58G [00:18<00:00, 91.6MB/s]

In [16]:
!ls

 extract-accounting-information-using-nlp.zip
 kaggle.json
 Results2394dca.csv
'Rule book for the five datapoints.xlsx'
 sample_data

In [0]:
!unzip extract-accounting-information-using-nlp.zip

In [18]:
!ls

'Crisil Challenge Data'
 extract-accounting-information-using-nlp.zip
 kaggle.json
 Results2394dca.csv
'Rule book for the five datapoints.xlsx'
 sample_data