<a href="https://colab.research.google.com/github/priyanshgupta1998/Machine_learning/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
cd /home

/home

In [13]:

from xlrd import open_workbook
import csv
wb = open_workbook('problem_statement.xlsx')
for i in range(wb.nsheets):
    sheet = wb.sheet_by_index(i)
    print(sheet.name)
    with open("%s.csv" %(sheet.name.replace(" ","")), "w") as file:
        writer = csv.writer(file, delimiter = ",")
        print(sheet, sheet.name, sheet.ncols, sheet.nrows)
        header = [cell.value for cell in sheet.row(0)]
        writer.writerow(header)
        for row_idx in range(1, sheet.nrows):
            row = [int(cell.value) if isinstance(cell.value, float) else cell.value
                   for cell in sheet.row(row_idx)]
            writer.writerow(row)

Problem Statement
<xlrd.sheet.Sheet object at 0x7fafeee1c828> Problem Statement 1 25
Credit_card_fraud_linear_1
<xlrd.sheet.Sheet object at 0x7fafeee1c860> Credit_card_fraud_linear_1 8 2663
Credit_card_fraud (2)
<xlrd.sheet.Sheet object at 0x7fafeee1c898> Credit_card_fraud (2) 18 2663
Credit_card_fraud_linear_2
<xlrd.sheet.Sheet object at 0x7fafeee1c8d0> Credit_card_fraud_linear_2 8 2663
Credit_card_fraud_linear_3
<xlrd.sheet.Sheet object at 0x7fafeee1c908> Credit_card_fraud_linear_3 8 2663
Credit_card_fraud_linear_4
<xlrd.sheet.Sheet object at 0x7fafeee1c940> Credit_card_fraud_linear_4 8 2663
Credit_card_fraud_linear_5
<xlrd.sheet.Sheet object at 0x7fafeee1c978> Credit_card_fraud_linear_5 8 2663
Credit_card_fraud_linear_6
<xlrd.sheet.Sheet object at 0x7fafeee1c9b0> Credit_card_fraud_linear_6 8 2663

In [0]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('Credit_card_fraud_linear_5.csv')
print(df.shape)
df.head(10)

(2662, 8)

  Customer_Type  $_Spent_per_day  ...  Year  $_Surcharge_Levied
0         Coral               59  ...  2019                 -35
1         Coral               37  ...  2017                 -22
2         Coral              158  ...  2019                 -10
3         Coral               50  ...  2017                 -62
4         Coral               50  ...  2019                 -22
5         Coral              130  ...  2018                 -57
6         Coral              136  ...  2018                 -22
7         Coral              130  ...  2017                 -53
8         Coral              191  ...  2019                 -46
9         Coral               45  ...  2018                 -47

[10 rows x 8 columns]

In [16]:
df.describe()

       $_Spent_per_day  ...  $_Surcharge_Levied
count      2662.000000  ...         2662.000000
mean        338.233283  ...          -29.872652
std         238.113807  ...           24.909787
min           2.000000  ...         -182.000000
25%         159.000000  ...          -46.000000
50%         289.000000  ...          -29.000000
75%         455.000000  ...          -12.000000
max        1237.000000  ...           31.000000

[8 rows x 7 columns]

In [17]:
df.isnull().sum()

Customer_Type                0
$_Spent_per_day              0
#_of_transactions_per_day    0
$_credited_per_day           0
Day                          0
Month                        0
Year                         0
$_Surcharge_Levied           0
dtype: int64

In [18]:
df['Customer_Type'].unique()

array(['Coral', 'Diamond', 'Family', 'Ruby', 'Sapphire'], dtype=object)

In [19]:
pd.get_dummies(df['Customer_Type']).head()

   Coral  Diamond  Family  Ruby  Sapphire
0      1        0       0     0         0
1      1        0       0     0         0
2      1        0       0     0         0
3      1        0       0     0         0
4      1        0       0     0         0

In [20]:
df = pd.get_dummies(df, columns=['Customer_Type'])
df.head()

   $_Spent_per_day  ...  Customer_Type_Sapphire
0               59  ...                       0
1               37  ...                       0
2              158  ...                       0
3               50  ...                       0
4               50  ...                       0

[5 rows x 12 columns]

In [21]:
print(df.shape)
print(df.ndim)

(2662, 12)
2

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2662 entries, 0 to 2661
Data columns (total 12 columns):
$_Spent_per_day              2662 non-null int64
#_of_transactions_per_day    2662 non-null int64
$_credited_per_day           2662 non-null int64
Day                          2662 non-null int64
Month                        2662 non-null int64
Year                         2662 non-null int64
$_Surcharge_Levied           2662 non-null int64
Customer_Type_Coral          2662 non-null uint8
Customer_Type_Diamond        2662 non-null uint8
Customer_Type_Family         2662 non-null uint8
Customer_Type_Ruby           2662 non-null uint8
Customer_Type_Sapphire       2662 non-null uint8
dtypes: int64(7), uint8(5)
memory usage: 158.7 KB

In [23]:
X  = df.drop('$_Surcharge_Levied', axis=1)
print(X.shape)
X.head()

(2662, 11)

   $_Spent_per_day  ...  Customer_Type_Sapphire
0               59  ...                       0
1               37  ...                       0
2              158  ...                       0
3               50  ...                       0
4               50  ...                       0

[5 rows x 11 columns]

In [24]:
Y = df['$_Surcharge_Levied']
print(Y.shape)
Y.head()

(2662,)

0   -35
1   -22
2   -10
3   -62
4   -22
Name: $_Surcharge_Levied, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [0]:
import os
import pandas as pd
from pandas import DataFrame,Series
from sklearn import tree
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.preprocessing import StandardScaler
import statsmodels.formula.api as smf
import statsmodels.api as sm
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
from sklearn import neighbors
from sklearn import linear_model
%matplotlib inline

In [33]:
dec = tree.DecisionTreeRegressor(max_depth=1)
dec.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=1, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [32]:
from sklearn import metrics 
dec_pred = dec.predict(X_test)

321.8177174538784
0.51195413376089

In [0]:
print(metrics.mean_squared_error(y_test , dec_pred))
print(metrics.r2_score(y_test , dec_pred))

In [0]:
# fit a model
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)
predictions = lm.predict(X_test)