In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [0]:
dtrain = pd.read_csv('train.csv')
dtest =  pd.read_csv('test.csv')

In [14]:
train= dtrain.copy()
print(train.shape)
train.head()

(330045, 7)

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [16]:
train.describe()

                  ID    Reputation  ...         Views        Upvotes
count  330045.000000  3.300450e+05  ...  3.300450e+05  330045.000000
mean   235748.682789  7.773147e+03  ...  2.964507e+04     337.505358
std    136039.418471  2.706141e+04  ...  8.095646e+04    3592.441135
min         1.000000  0.000000e+00  ...  9.000000e+00       0.000000
25%    117909.000000  2.820000e+02  ...  2.594000e+03       8.000000
50%    235699.000000  1.236000e+03  ...  8.954000e+03      28.000000
75%    353620.000000  5.118000e+03  ...  2.687000e+04     107.000000
max    471493.000000  1.042428e+06  ...  5.231058e+06  615278.000000

[8 rows x 6 columns]

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330045 entries, 0 to 330044
Data columns (total 7 columns):
ID            330045 non-null int64
Tag           330045 non-null object
Reputation    330045 non-null float64
Answers       330045 non-null float64
Username      330045 non-null int64
Views         330045 non-null float64
Upvotes       330045 non-null float64
dtypes: float64(4), int64(2), object(1)
memory usage: 17.6+ MB

In [22]:
train.Tag.value_counts().unique()

array([72458, 72232, 43407, 32400, 31695, 23323, 20564, 14546, 12442,
        6978])

In [29]:
print(train.Tag.nunique())
train.Tag.unique()

10

array(['a', 'c', 'r', 'j', 'p', 's', 'h', 'o', 'i', 'x'], dtype=object)

In [28]:
pd.DataFrame(train.Tag.value_counts())

     Tag
c  72458
j  72232
p  43407
i  32400
a  31695
s  23323
h  20564
o  14546
r  12442
x   6978

In [0]:
test = dtest.copy()
print(test.shape)
test.head(10)

In [110]:
k = list(test['ID'])
k.sort()
k[:10]

[7, 9, 12, 13, 16, 17, 22, 25, 26, 27]

In [30]:
test.describe()

                  ID    Reputation        Answers       Username         Views
count  141448.000000  1.414480e+05  141448.000000  141448.000000  1.414480e+05
mean   235743.073497  7.920927e+03       3.914873   81348.231117  2.984633e+04
std    136269.867118  2.791072e+04       3.577460   49046.098215  8.034374e+04
min         7.000000  0.000000e+00       0.000000       4.000000  9.000000e+00
25%    117797.000000  2.860000e+02       2.000000   40222.750000  2.608000e+03
50%    235830.000000  1.245000e+03       3.000000   78795.500000  8.977000e+03
75%    353616.000000  5.123000e+03       5.000000  122149.000000  2.698925e+04
max    471488.000000  1.042428e+06      73.000000  175737.000000  5.004669e+06

In [31]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141448 entries, 0 to 141447
Data columns (total 6 columns):
ID            141448 non-null int64
Tag           141448 non-null object
Reputation    141448 non-null float64
Answers       141448 non-null float64
Username      141448 non-null int64
Views         141448 non-null float64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.5+ MB

In [32]:
pd.DataFrame(test.Tag.value_counts())

     Tag
j  30811
c  30793
p  18713
i  14100
a  13558
s  10088
h   8782
o   6296
r   5313
x   2994

In [49]:
#test['Upvotes'] = [ i for i in range(len(test))]
test['Upvotes'] = np.nan
print(test.shape)
test.head()

(141448, 7)

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0  366953   a      5645.0      3.0     50652  33200.0      NaN
1   71864   c     24511.0      6.0     37685   2730.0      NaN
2  141692   i       927.0      1.0    135293  21167.0      NaN
3  316833   i        21.0      6.0    166998  18528.0      NaN
4  440445   i      4475.0     10.0     53504  57240.0      NaN

#Concatenate Both training and testing set

In [0]:
train['recognize'] = 1
test['recognize'] = 0

In [51]:
train.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes  recognize
0   52664   a      3942.0      2.0    155623   7855.0     42.0          1
1  327662   a     26046.0     12.0     21781  55801.0   1175.0          1
2  468453   c      1358.0      4.0     56177   8067.0     60.0          1
3   96996   a       264.0      3.0    168793  27064.0      9.0          1
4  131465   c      4271.0      4.0    112223  13986.0     83.0          1

In [52]:
test.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes  recognize
0  366953   a      5645.0      3.0     50652  33200.0      NaN          0
1   71864   c     24511.0      6.0     37685   2730.0      NaN          0
2  141692   i       927.0      1.0    135293  21167.0      NaN          0
3  316833   i        21.0      6.0    166998  18528.0      NaN          0
4  440445   i      4475.0     10.0     53504  57240.0      NaN          0

In [54]:
both = pd.concat([train , test] , ignore_index=True)
print(both.shape)
both.head()

(471493, 8)

       ID Tag  Reputation  Answers  Username    Views  Upvotes  recognize
0   52664   a      3942.0      2.0    155623   7855.0     42.0          1
1  327662   a     26046.0     12.0     21781  55801.0   1175.0          1
2  468453   c      1358.0      4.0     56177   8067.0     60.0          1
3   96996   a       264.0      3.0    168793  27064.0      9.0          1
4  131465   c      4271.0      4.0    112223  13986.0     83.0          1

In [55]:
# Create a set of dummy variables from the Tag variable
df_tag= pd.get_dummies(both['Tag'])


# Join the dummy variables to the main dataframe
both = pd.concat([both, df_tag], axis=1)

# Alterative for joining the new columns
# both = both.join(df_tag)

print(both.shape)
both.head()

(471493, 18)

       ID Tag  Reputation  Answers  Username    Views  ...  j  o  p  r  s  x
0   52664   a      3942.0      2.0    155623   7855.0  ...  0  0  0  0  0  0
1  327662   a     26046.0     12.0     21781  55801.0  ...  0  0  0  0  0  0
2  468453   c      1358.0      4.0     56177   8067.0  ...  0  0  0  0  0  0
3   96996   a       264.0      3.0    168793  27064.0  ...  0  0  0  0  0  0
4  131465   c      4271.0      4.0    112223  13986.0  ...  0  0  0  0  0  0

[5 rows x 18 columns]

In [0]:
both = both.drop(['Tag'] ,axis = 1)

In [0]:
df_train= both[both['recognize'] ==1]
df_test= both[both['recognize'] ==0]

In [0]:
df_test = df_test.drop(['Upvotes'] , axis = 1)

In [0]:
df_train = df_train.drop(['recognize'] , axis = 1)
df_test = df_test.drop(['recognize'] , axis = 1)

In [0]:
df_train = df_train.drop(['ID' , 'Username'] , axis = 1)
df_test = df_test.drop(['ID' , 'Username'] , axis = 1)

In [69]:
print(df_train.shape)
df_train.head()

(330045, 14)

   Reputation  Answers    Views  Upvotes  a  c  h  i  j  o  p  r  s  x
0      3942.0      2.0   7855.0     42.0  1  0  0  0  0  0  0  0  0  0
1     26046.0     12.0  55801.0   1175.0  1  0  0  0  0  0  0  0  0  0
2      1358.0      4.0   8067.0     60.0  0  1  0  0  0  0  0  0  0  0
3       264.0      3.0  27064.0      9.0  1  0  0  0  0  0  0  0  0  0
4      4271.0      4.0  13986.0     83.0  0  1  0  0  0  0  0  0  0  0

In [0]:
# liss = [ list(df_train['Reputation']) , list(df_train['Answers']) , list(df_train['Views']) ,list(df_train['Upvotes'])]
# plt.figure(figsize=(20,10))
# plt.subplot(131)
# plt.plot( df_train.index ,  df_train['Upvotes'] , color ='green')

# plt.plot( df_train.index , df_train['Views'] , color ='red')
# # plt.plot(df_train['Reputation'] ,color ='red')
# plt.xlabel('Reputation')
# plt.ylabel('Upvotes')

# # plt.subplot(132)

# # plt.xlabel('Reputation')
# # plt.ylabel('Upvotes')


# # plt.subplot(133)
# # plt.plot(liss[0] , liss[3])
# # plt.xlabel('Reputation')
# # plt.ylabel('Upvotes')
# plt.show()

In [0]:
X = df_train.drop(['Upvotes'] , axis=1)
y = df_train['Upvotes']

In [0]:
from sklearn.model_selection import train_test_split
X_train ,  X_test , y_train  , y_test = train_test_split( X,y,test_size=0.2 ,random_state=27)

In [113]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(264036, 13)
(264036,)
(66009, 13)
(66009,)

In [114]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=150, min_samples_split=2)
regressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=150,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [0]:
pred = regressor.predict(X_test)

In [123]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, pred))
rms

1263.844052732468

In [0]:
# from sklearn.metrics import accuracy_score
# print(accuracy_score(y_true, pred))

In [70]:
print(df_test.shape)
df_test.head()

(141448, 13)

        Reputation  Answers    Views  a  c  h  i  j  o  p  r  s  x
330045      5645.0      3.0  33200.0  1  0  0  0  0  0  0  0  0  0
330046     24511.0      6.0   2730.0  0  1  0  0  0  0  0  0  0  0
330047       927.0      1.0  21167.0  0  0  0  1  0  0  0  0  0  0
330048        21.0      6.0  18528.0  0  0  0  1  0  0  0  0  0  0
330049      4475.0     10.0  57240.0  0  0  0  1  0  0  0  0  0  0

In [0]:
y_pred = regressor.predict(df_test)

In [127]:
output = pd.DataFrame()
output['ID'] = test['ID']
output['Upvotes'] = y_pred
print(output.shape)
output.head(10)

(141448, 2)

       ID     Upvotes
0  366953  238.333333
1   71864   76.400000
2  141692   40.700000
3  316833   10.946667
4  440445  287.760000
5    3514   16.066667
6  331420   20.780000
7  406540   99.713333
8  227379   56.320000
9  331687   11.340000

In [175]:
new = output.sort_values(["ID"], axis=0,ascending=True)
new['Upvotes'] =round(new['Upvotes'])
print(new.shape)
new.head()

(141448, 2)

        ID  Upvotes
118045   7    820.0
74256    9     36.0
132030  12     75.0
47484   13    280.0
20847   16     30.0

In [176]:
train.describe()

                  ID    Reputation  ...        Upvotes  recognize
count  330045.000000  3.300450e+05  ...  330045.000000   330045.0
mean   235748.682789  7.773147e+03  ...     337.505358        1.0
std    136039.418471  2.706141e+04  ...    3592.441135        0.0
min         1.000000  0.000000e+00  ...       0.000000        1.0
25%    117909.000000  2.820000e+02  ...       8.000000        1.0
50%    235699.000000  1.236000e+03  ...      28.000000        1.0
75%    353620.000000  5.118000e+03  ...     107.000000        1.0
max    471493.000000  1.042428e+06  ...  615278.000000        1.0

[8 rows x 7 columns]

In [177]:
new.describe()

                  ID        Upvotes
count  141448.000000  141448.000000
mean   235743.073497     348.721566
std    136269.867118    3495.208684
min         7.000000       0.000000
25%    117797.000000      14.000000
50%    235830.000000      34.000000
75%    353616.000000     111.000000
max    471488.000000  479525.000000

In [0]:
# new.set_index('ID' , inplace =True)
# new.reset_index()

In [0]:
new.to_csv('sample.csv' , index =False)