<a href="https://colab.research.google.com/github/priyanshgupta1998/Machine_learning/blob/master/Quora_Scraping/Part2_Data_Analysis/SIMPLE_ANALYSIS_AND_PREPROCESSING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

#Mount dataset from google drive

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
data  = pd.read_csv('/content/drive/My Drive/Data_WhareHouse/Quora_Questions_Scraping.csv')

In [55]:
df = data.copy()
print(df.shape)
df.head()

(877, 9)

                                            Question  ...                                      Question_link
0  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
1  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
2  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
3  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
4  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...

[5 rows x 9 columns]

#Remove Redundant data (Entire row)

In [56]:
print(df[df['Date_Of_Answer']=='?'].shape)
print("Total Number of Redundant Data : ", len(df[df['Date_Of_Answer']=='?']))
df = df[df['Date_Of_Answer']!='?']
print(df.shape)
df.head()

(304, 9)
Total Number of Redundant Data :  304
(573, 9)

                                            Question  ...                                      Question_link
0  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
2  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
4  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
5  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
7  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...

[5 rows x 9 columns]

#Find Anonymous persons

In [57]:
print(df[df['User_name']=='?'].shape)
print("Number of Anonymous Persons on Quora : " ,len(df[df['User_name']=='?']) )
# liss = []
# for i in range(len(df[df['User_name']=='?'])):
#   liss.append('Anonymous')
df['User_name'] = df['User_name'].replace(to_replace ='?',value ='Anonymous') 
print(df.shape)
df[4:7]

(25, 9)
Number of Anonymous Persons on Quora :  25
(573, 9)

                                             Question  ...                                      Question_link
7   How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
9   How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
10  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...

[3 rows x 9 columns]

#Search Number of Unseen Answers on Quora

In [59]:
print(df[df['Number_of_Views']=='?'].shape)
print("Number of Unseen Answers on Quora : " ,len(df[df['Number_of_Views']=='?']) )

df['Number_of_Views'] = df['Number_of_Views'].replace(to_replace ='?',value ='0k views') 
print(df.shape)
df[4:7]

(264, 9)
Number of Unseen Answers on Quora :  264
(573, 9)

                                             Question  ...                                      Question_link
7   How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
9   How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
10  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...

[3 rows x 9 columns]

In [60]:
print(df[df['Number_of_Upvotes']=='?'].shape)
print("Number of Answers on Quora having 0 Upvotes : " ,len(df[df['Number_of_Upvotes']=='?']) )

df['Number_of_Upvotes'] = df['Number_of_Upvotes'].replace(to_replace ='?',value ='View 0 Upvoter') 
print(df.shape)
df[4:7]

(357, 9)
Number of Answers on Quora having 0 Upvotes :  357
(573, 9)

                                             Question  ...                                      Question_link
7   How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
9   How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
10  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...

[3 rows x 9 columns]

#Replace all '?' with np.nan in order to find the number of null values in the dataset

In [62]:
df = df.replace(to_replace ='?',value =np.nan) 
print(df.shape)
df[4:7]

(573, 9)

                                             Question  ...                                      Question_link
7   How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
9   How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
10  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...

[3 rows x 9 columns]

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 573 entries, 0 to 876
Data columns (total 9 columns):
Question             573 non-null object
Number_of_Answer     573 non-null int64
User_name            573 non-null object
User_Profile         458 non-null object
Answer               573 non-null object
Number_of_Views      573 non-null object
Number_of_Upvotes    573 non-null object
Date_Of_Answer       573 non-null object
Question_link        573 non-null object
dtypes: int64(1), object(8)
memory usage: 44.8+ KB

#Save dataset in .csv format

In [0]:
df.to_csv('/content/drive/My Drive/Data_WhareHouse/Structured_data.csv' , index =False)

#Now move on to the Quora Answers for Preprocessing Using NLP

In [0]:
import pandas as pd
#Again load data from google drive
data = pd.read_csv('/content/drive/My Drive/Data_WhareHouse/Structured_data.csv')

In [6]:
df= data.copy()
print(df.shape)
df.head()

(573, 9)

                                            Question  ...                                      Question_link
0  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
1  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
2  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
3  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...
4  How good are titan watches compared to other g...  ...  https://www.quora.com/How-good-are-titan-watch...

[5 rows x 9 columns]

In [0]:
import time
k=0
doc=[]
for i in range(1,23):
  l= 25*i
  doc+=list(df['Answer'][k:l])
  k = l
  time.sleep(5)

In [0]:
doc += list(df['Answer'][550:574])

In [19]:
print(len(doc))
doc[:5]

573

[" As a collector and lover of watches, I've found that Titan watches are fantastic pieces. I find that they compete with the likes of Citizen and even Tissot. As a collector and lover of watches, I've found that Titan watches are fantastic pieces. I find that they compete with the likes of Citizen and even Tissot.They make great watches that are durable and last for a long period of time. Their designs are good and they cater to people with different price ranges. As a collector and lover of watches, I've found that Titan watches are fantastic pieces. I find that they compete with the likes of Citizen and even Tissot. As a collector and lover of watches, I've found that Titan watches are fantastic pieces. I find that they compete with the likes of Citizen and even Tissot.They make great watches that are durable and last for a long period of time. Their designs are good and they cater to people with different price ranges.They have now achieved a reach of epic proportion . You can but them and service them everywhere. As a collector and lover of watches, I've found that Titan watches are fantastic pieces. I find that they compete with the likes of Citizen and even Tissot. As a collector and lover of watches, I've found that Titan watches are fantastic pieces. I find that they compete with the likes of Citizen and even Tissot.They make great watches that are durable and last for a long period of time. Their designs are good and they cater to people with different price ranges. As a collector and lover of watches, I've found that Titan watches are fantastic pieces. I find that they compete with the likes of Citizen and even Tissot. As a collector and lover of watches, I've found that Titan watches are fantastic pieces. I find that they compete with the likes of Citizen and even Tissot.They make great watches that are durable and last for a long period of time. Their designs are good and they cater to people with different price ranges.They have now achieved a reach of epic proportion . You can but them and service them everywhere.",
 ' Titan Company Limited (earlier known as Titan Industries Limited) is a joint venture between the Tata Group and the Tamil Nadu Industrial Development Corporation (TIDCO) which commenced operations in 1984 under the name Titan Watches Limited. Titan has diversified into other consumer products including jewellery with Tanishq, eyewear with Titan Eyeplus, fragrances with Skinn, helmets with Fastrack. Today, Titan Company is Tata Group’s largest consumer company, and India’s leading producer and retailer of watches, jewellery, and eyewear. Titan Company Limited (earlier known as Titan Industries Limited) is a joint venture between the Tata Group and the Tamil Nadu Industrial Development Corporation (TIDCO) which commenced operations in 1984 under the name Titan Watches Limited. Titan has diversified into other consumer products including jewellery with Tanishq, eyewear with Titan Eyeplus, fragrances with Skinn, helmets with Fastrack. Today, Titan Company is Tata Group’s largest consumer company, and India’s leading producer and retailer of watches, jewellery, and eyewear.Titan is a very good brand as per the world standard. O... Titan Company Limited (earlier known as Titan Industries Limited) is a joint venture between the Tata Group and the Tamil Nadu Industrial Development Corporation (TIDCO) which commenced operations in 1984 under the name Titan Watches Limited. Titan has diversified into other consumer products including jewellery with Tanishq, eyewear with Titan Eyeplus, fragrances with Skinn, helmets with Fastrack. Today, Titan Company is Tata Group’s largest consumer company, and India’s leading producer and retailer of watches, jewellery, and eyewear. Titan Company Limited (earlier known as Titan Industries Limited) is a joint venture between the Tata Group and the Tamil Nadu Industrial Development Corporation (TIDCO) which commenced operations in 1984 under the name Titan Watches Limited. Titan has diversified into other consumer products including jewellery with Tanishq, eyewear with Titan Eyeplus, fragrances with Skinn, helmets with Fastrack. Today, Titan Company is Tata Group’s largest consumer company, and India’s leading producer and retailer of watches, jewellery, and eyewear.Titan is a very good brand as per the world standard. O...',
 ' I have just bought a Titan Watch on a trip to India. I always wanted to buy a Titan watch in India, because of its impressive history, and also because I had heard that it employs uneducated and handicap people as staff members, and provides them education. This is great. I bought a beautiful time piece, that rivals any world brand on design and looks, for a fraction of the price. Bought in Delhi, which is always a good souvenir of a good trip.In a period of about 15 days it delayed 1 sec, which shows that this is a good movement. Very happy to have bought it. Love India. Love my Titan. I have just bought a Titan Watch on a trip to India. I always wanted to buy a Titan watch in India, because of its impressive history, and also because I had heard that it employs uneducated and handicap people as staff members, and provides them education. This is great. I bought a beautiful time piece, that rivals any world brand on design and looks, for a fraction of the price. Bought in Delhi, which is always a good souvenir of a good trip.In a period of about 15 days it delayed 1 sec, which shows that this is a good movement. Very happy to have bought it. Love India. Love my Titan.',
 ' Titan watches are one of a kind.With the company establishing a powerful base in India,Titan watches have been a major provider of timepieces in the Indian subcontinent.They have a ,not very old,but a good and fortunate legacy of fine watch making.But it still lacks compared to other Global Brands,cause as the name suggests these Brands are global in nature thus have a wider network of buyers and hence they cater to such large size.Comparatively,Titan has just started the new Chronograph Series while they were usually into Quartz movement.Titan watches have a simple movement as they are mor... Titan watches are one of a kind.With the company establishing a powerful base in India,Titan watches have been a major provider of timepieces in the Indian subcontinent.They have a ,not very old,but a good and fortunate legacy of fine watch making.But it still lacks compared to other Global Brands,cause as the name suggests these Brands are global in nature thus have a wider network of buyers and hence they cater to such large size.Comparatively,Titan has just started the new Chronograph Series while they were usually into Quartz movement.Titan watches have a simple movement as they are mor...',
 ' Over the period of time titan watches created a very good reputation , that titan name is enough for reputation. And definitely titan watches are good enough in comparison to other global brand that they achieved this name. Over the period of time titan watches created a very good reputation , that titan name is enough for reputation. And definitely titan watches are good enough in comparison to other global brand that they achieved this name.About Titan watches : Titan Company Limited (earlier known as Titan Industries Limited) is a joint venture between the Tata Group and the Tamil Nadu Industrial Development Corporation (TIDCO) which commenced operations in 1984 under the name Titan Watches Limited. Over the period of time titan watches created a very good reputation , that titan name is enough for reputation. And definitely titan watches are good enough in comparison to other global brand that they achieved this name. Over the period of time titan watches created a very good reputation , that titan name is enough for reputation. And definitely titan watches are good enough in comparison to other global brand that they achieved this name.About Titan watches : Titan Company Limited (earlier known as Titan Industries Limited) is a joint venture between the Tata Group and the Tamil Nadu Industrial Development Corporation (TIDCO) which commenced operations in 1984 under the name Titan Watches Limited.Titan has diversified into other consumer products also . But in watches titan offers various brands including... Over the period of time titan watches created a very good reputation , that titan name is enough for reputation. And definitely titan watches are good enough in comparison to other global brand that they achieved this name. Over the period of time titan watches created a very good reputation , that titan name is enough for reputation. And definitely titan watches are good enough in comparison to other global brand that they achieved this name.About Titan watches : Titan Company Limited (earlier known as Titan Industries Limited) is a joint venture between the Tata Group and the Tamil Nadu Industrial Development Corporation (TIDCO) which commenced operations in 1984 under the name Titan Watches Limited. Over the period of time titan watches created a very good reputation , that titan name is enough for reputation. And definitely titan watches are good enough in comparison to other global brand that they achieved this name. Over the period of time titan watches created a very good reputation , that titan name is enough for reputation. And definitely titan watches are good enough in comparison to other global brand that they achieved this name.About Titan watches : Titan Company Limited (earlier known as Titan Industries Limited) is a joint venture between the Tata Group and the Tamil Nadu Industrial Development Corporation (TIDCO) which commenced operations in 1984 under the name Titan Watches Limited.Titan has diversified into other consumer products also . But in watches titan offers various brands including...']

In [21]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [28]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
stop_words = list(set(stopwords.words('english')))
print("Number of stopwords in English : ", len(stop_words))
print(stop_words[:10])

Number of stopwords in English :  179
['it', 'who', 'in', 'been', 'of', 'over', 's', 'hadn', "hadn't", 'to']

In [0]:
# tokens of words  
tokens = []
for i in range(len(doc)):
  tokens.append(word_tokenize(doc[i]))

In [36]:
print(len(tokens))
print(tokens[0])
print(tokens[1])
print(tokens[2])
print(tokens[3])
print(tokens[4])

573
['As', 'a', 'collector', 'and', 'lover', 'of', 'watches', ',', 'I', "'ve", 'found', 'that', 'Titan', 'watches', 'are', 'fantastic', 'pieces', '.', 'I', 'find', 'that', 'they', 'compete', 'with', 'the', 'likes', 'of', 'Citizen', 'and', 'even', 'Tissot', '.', 'As', 'a', 'collector', 'and', 'lover', 'of', 'watches', ',', 'I', "'ve", 'found', 'that', 'Titan', 'watches', 'are', 'fantastic', 'pieces', '.', 'I', 'find', 'that', 'they', 'compete', 'with', 'the', 'likes', 'of', 'Citizen', 'and', 'even', 'Tissot.They', 'make', 'great', 'watches', 'that', 'are', 'durable', 'and', 'last', 'for', 'a', 'long', 'period', 'of', 'time', '.', 'Their', 'designs', 'are', 'good', 'and', 'they', 'cater', 'to', 'people', 'with', 'different', 'price', 'ranges', '.', 'As', 'a', 'collector', 'and', 'lover', 'of', 'watches', ',', 'I', "'ve", 'found', 'that', 'Titan', 'watches', 'are', 'fantastic', 'pieces', '.', 'I', 'find', 'that', 'they', 'compete', 'with', 'the', 'likes', 'of', 'Citizen', 'and', 'even', 'Tissot', '.', 'As', 'a', 'collector', 'and', 'lover', 'of', 'watches', ',', 'I', "'ve", 'found', 'that', 'Titan', 'watches', 'are', 'fantastic', 'pieces', '.', 'I', 'find', 'that', 'they', 'compete', 'with', 'the', 'likes', 'of', 'Citizen', 'and', 'even', 'Tissot.They', 'make', 'great', 'watches', 'that', 'are', 'durable', 'and', 'last', 'for', 'a', 'long', 'period', 'of', 'time', '.', 'Their', 'designs', 'are', 'good', 'and', 'they', 'cater', 'to', 'people', 'with', 'different', 'price', 'ranges.They', 'have', 'now', 'achieved', 'a', 'reach', 'of', 'epic', 'proportion', '.', 'You', 'can', 'but', 'them', 'and', 'service', 'them', 'everywhere', '.', 'As', 'a', 'collector', 'and', 'lover', 'of', 'watches', ',', 'I', "'ve", 'found', 'that', 'Titan', 'watches', 'are', 'fantastic', 'pieces', '.', 'I', 'find', 'that', 'they', 'compete', 'with', 'the', 'likes', 'of', 'Citizen', 'and', 'even', 'Tissot', '.', 'As', 'a', 'collector', 'and', 'lover', 'of', 'watches', ',', 'I', "'ve", 'found', 'that', 'Titan', 'watches', 'are', 'fantastic', 'pieces', '.', 'I', 'find', 'that', 'they', 'compete', 'with', 'the', 'likes', 'of', 'Citizen', 'and', 'even', 'Tissot.They', 'make', 'great', 'watches', 'that', 'are', 'durable', 'and', 'last', 'for', 'a', 'long', 'period', 'of', 'time', '.', 'Their', 'designs', 'are', 'good', 'and', 'they', 'cater', 'to', 'people', 'with', 'different', 'price', 'ranges', '.', 'As', 'a', 'collector', 'and', 'lover', 'of', 'watches', ',', 'I', "'ve", 'found', 'that', 'Titan', 'watches', 'are', 'fantastic', 'pieces', '.', 'I', 'find', 'that', 'they', 'compete', 'with', 'the', 'likes', 'of', 'Citizen', 'and', 'even', 'Tissot', '.', 'As', 'a', 'collector', 'and', 'lover', 'of', 'watches', ',', 'I', "'ve", 'found', 'that', 'Titan', 'watches', 'are', 'fantastic', 'pieces', '.', 'I', 'find', 'that', 'they', 'compete', 'with', 'the', 'likes', 'of', 'Citizen', 'and', 'even', 'Tissot.They', 'make', 'great', 'watches', 'that', 'are', 'durable', 'and', 'last', 'for', 'a', 'long', 'period', 'of', 'time', '.', 'Their', 'designs', 'are', 'good', 'and', 'they', 'cater', 'to', 'people', 'with', 'different', 'price', 'ranges.They', 'have', 'now', 'achieved', 'a', 'reach', 'of', 'epic', 'proportion', '.', 'You', 'can', 'but', 'them', 'and', 'service', 'them', 'everywhere', '.']
['Titan', 'Company', 'Limited', '(', 'earlier', 'known', 'as', 'Titan', 'Industries', 'Limited', ')', 'is', 'a', 'joint', 'venture', 'between', 'the', 'Tata', 'Group', 'and', 'the', 'Tamil', 'Nadu', 'Industrial', 'Development', 'Corporation', '(', 'TIDCO', ')', 'which', 'commenced', 'operations', 'in', '1984', 'under', 'the', 'name', 'Titan', 'Watches', 'Limited', '.', 'Titan', 'has', 'diversified', 'into', 'other', 'consumer', 'products', 'including', 'jewellery', 'with', 'Tanishq', ',', 'eyewear', 'with', 'Titan', 'Eyeplus', ',', 'fragrances', 'with', 'Skinn', ',', 'helmets', 'with', 'Fastrack', '.', 'Today', ',', 'Titan', 'Company', 'is', 'Tata', 'Group', '’', 's', 'largest', 'consumer', 'company', ',', 'and', 'India', '’', 's', 'leading', 'producer', 'and', 'retailer', 'of', 'watches', ',', 'jewellery', ',', 'and', 'eyewear', '.', 'Titan', 'Company', 'Limited', '(', 'earlier', 'known', 'as', 'Titan', 'Industries', 'Limited', ')', 'is', 'a', 'joint', 'venture', 'between', 'the', 'Tata', 'Group', 'and', 'the', 'Tamil', 'Nadu', 'Industrial', 'Development', 'Corporation', '(', 'TIDCO', ')', 'which', 'commenced', 'operations', 'in', '1984', 'under', 'the', 'name', 'Titan', 'Watches', 'Limited', '.', 'Titan', 'has', 'diversified', 'into', 'other', 'consumer', 'products', 'including', 'jewellery', 'with', 'Tanishq', ',', 'eyewear', 'with', 'Titan', 'Eyeplus', ',', 'fragrances', 'with', 'Skinn', ',', 'helmets', 'with', 'Fastrack', '.', 'Today', ',', 'Titan', 'Company', 'is', 'Tata', 'Group', '’', 's', 'largest', 'consumer', 'company', ',', 'and', 'India', '’', 's', 'leading', 'producer', 'and', 'retailer', 'of', 'watches', ',', 'jewellery', ',', 'and', 'eyewear.Titan', 'is', 'a', 'very', 'good', 'brand', 'as', 'per', 'the', 'world', 'standard', '.', 'O', '...', 'Titan', 'Company', 'Limited', '(', 'earlier', 'known', 'as', 'Titan', 'Industries', 'Limited', ')', 'is', 'a', 'joint', 'venture', 'between', 'the', 'Tata', 'Group', 'and', 'the', 'Tamil', 'Nadu', 'Industrial', 'Development', 'Corporation', '(', 'TIDCO', ')', 'which', 'commenced', 'operations', 'in', '1984', 'under', 'the', 'name', 'Titan', 'Watches', 'Limited', '.', 'Titan', 'has', 'diversified', 'into', 'other', 'consumer', 'products', 'including', 'jewellery', 'with', 'Tanishq', ',', 'eyewear', 'with', 'Titan', 'Eyeplus', ',', 'fragrances', 'with', 'Skinn', ',', 'helmets', 'with', 'Fastrack', '.', 'Today', ',', 'Titan', 'Company', 'is', 'Tata', 'Group', '’', 's', 'largest', 'consumer', 'company', ',', 'and', 'India', '’', 's', 'leading', 'producer', 'and', 'retailer', 'of', 'watches', ',', 'jewellery', ',', 'and', 'eyewear', '.', 'Titan', 'Company', 'Limited', '(', 'earlier', 'known', 'as', 'Titan', 'Industries', 'Limited', ')', 'is', 'a', 'joint', 'venture', 'between', 'the', 'Tata', 'Group', 'and', 'the', 'Tamil', 'Nadu', 'Industrial', 'Development', 'Corporation', '(', 'TIDCO', ')', 'which', 'commenced', 'operations', 'in', '1984', 'under', 'the', 'name', 'Titan', 'Watches', 'Limited', '.', 'Titan', 'has', 'diversified', 'into', 'other', 'consumer', 'products', 'including', 'jewellery', 'with', 'Tanishq', ',', 'eyewear', 'with', 'Titan', 'Eyeplus', ',', 'fragrances', 'with', 'Skinn', ',', 'helmets', 'with', 'Fastrack', '.', 'Today', ',', 'Titan', 'Company', 'is', 'Tata', 'Group', '’', 's', 'largest', 'consumer', 'company', ',', 'and', 'India', '’', 's', 'leading', 'producer', 'and', 'retailer', 'of', 'watches', ',', 'jewellery', ',', 'and', 'eyewear.Titan', 'is', 'a', 'very', 'good', 'brand', 'as', 'per', 'the', 'world', 'standard', '.', 'O', '...']
['I', 'have', 'just', 'bought', 'a', 'Titan', 'Watch', 'on', 'a', 'trip', 'to', 'India', '.', 'I', 'always', 'wanted', 'to', 'buy', 'a', 'Titan', 'watch', 'in', 'India', ',', 'because', 'of', 'its', 'impressive', 'history', ',', 'and', 'also', 'because', 'I', 'had', 'heard', 'that', 'it', 'employs', 'uneducated', 'and', 'handicap', 'people', 'as', 'staff', 'members', ',', 'and', 'provides', 'them', 'education', '.', 'This', 'is', 'great', '.', 'I', 'bought', 'a', 'beautiful', 'time', 'piece', ',', 'that', 'rivals', 'any', 'world', 'brand', 'on', 'design', 'and', 'looks', ',', 'for', 'a', 'fraction', 'of', 'the', 'price', '.', 'Bought', 'in', 'Delhi', ',', 'which', 'is', 'always', 'a', 'good', 'souvenir', 'of', 'a', 'good', 'trip.In', 'a', 'period', 'of', 'about', '15', 'days', 'it', 'delayed', '1', 'sec', ',', 'which', 'shows', 'that', 'this', 'is', 'a', 'good', 'movement', '.', 'Very', 'happy', 'to', 'have', 'bought', 'it', '.', 'Love', 'India', '.', 'Love', 'my', 'Titan', '.', 'I', 'have', 'just', 'bought', 'a', 'Titan', 'Watch', 'on', 'a', 'trip', 'to', 'India', '.', 'I', 'always', 'wanted', 'to', 'buy', 'a', 'Titan', 'watch', 'in', 'India', ',', 'because', 'of', 'its', 'impressive', 'history', ',', 'and', 'also', 'because', 'I', 'had', 'heard', 'that', 'it', 'employs', 'uneducated', 'and', 'handicap', 'people', 'as', 'staff', 'members', ',', 'and', 'provides', 'them', 'education', '.', 'This', 'is', 'great', '.', 'I', 'bought', 'a', 'beautiful', 'time', 'piece', ',', 'that', 'rivals', 'any', 'world', 'brand', 'on', 'design', 'and', 'looks', ',', 'for', 'a', 'fraction', 'of', 'the', 'price', '.', 'Bought', 'in', 'Delhi', ',', 'which', 'is', 'always', 'a', 'good', 'souvenir', 'of', 'a', 'good', 'trip.In', 'a', 'period', 'of', 'about', '15', 'days', 'it', 'delayed', '1', 'sec', ',', 'which', 'shows', 'that', 'this', 'is', 'a', 'good', 'movement', '.', 'Very', 'happy', 'to', 'have', 'bought', 'it', '.', 'Love', 'India', '.', 'Love', 'my', 'Titan', '.']
['Titan', 'watches', 'are', 'one', 'of', 'a', 'kind.With', 'the', 'company', 'establishing', 'a', 'powerful', 'base', 'in', 'India', ',', 'Titan', 'watches', 'have', 'been', 'a', 'major', 'provider', 'of', 'timepieces', 'in', 'the', 'Indian', 'subcontinent.They', 'have', 'a', ',', 'not', 'very', 'old', ',', 'but', 'a', 'good', 'and', 'fortunate', 'legacy', 'of', 'fine', 'watch', 'making.But', 'it', 'still', 'lacks', 'compared', 'to', 'other', 'Global', 'Brands', ',', 'cause', 'as', 'the', 'name', 'suggests', 'these', 'Brands', 'are', 'global', 'in', 'nature', 'thus', 'have', 'a', 'wider', 'network', 'of', 'buyers', 'and', 'hence', 'they', 'cater', 'to', 'such', 'large', 'size.Comparatively', ',', 'Titan', 'has', 'just', 'started', 'the', 'new', 'Chronograph', 'Series', 'while', 'they', 'were', 'usually', 'into', 'Quartz', 'movement.Titan', 'watches', 'have', 'a', 'simple', 'movement', 'as', 'they', 'are', 'mor', '...', 'Titan', 'watches', 'are', 'one', 'of', 'a', 'kind.With', 'the', 'company', 'establishing', 'a', 'powerful', 'base', 'in', 'India', ',', 'Titan', 'watches', 'have', 'been', 'a', 'major', 'provider', 'of', 'timepieces', 'in', 'the', 'Indian', 'subcontinent.They', 'have', 'a', ',', 'not', 'very', 'old', ',', 'but', 'a', 'good', 'and', 'fortunate', 'legacy', 'of', 'fine', 'watch', 'making.But', 'it', 'still', 'lacks', 'compared', 'to', 'other', 'Global', 'Brands', ',', 'cause', 'as', 'the', 'name', 'suggests', 'these', 'Brands', 'are', 'global', 'in', 'nature', 'thus', 'have', 'a', 'wider', 'network', 'of', 'buyers', 'and', 'hence', 'they', 'cater', 'to', 'such', 'large', 'size.Comparatively', ',', 'Titan', 'has', 'just', 'started', 'the', 'new', 'Chronograph', 'Series', 'while', 'they', 'were', 'usually', 'into', 'Quartz', 'movement.Titan', 'watches', 'have', 'a', 'simple', 'movement', 'as', 'they', 'are', 'mor', '...']
['Over', 'the', 'period', 'of', 'time', 'titan', 'watches', 'created', 'a', 'very', 'good', 'reputation', ',', 'that', 'titan', 'name', 'is', 'enough', 'for', 'reputation', '.', 'And', 'definitely', 'titan', 'watches', 'are', 'good', 'enough', 'in', 'comparison', 'to', 'other', 'global', 'brand', 'that', 'they', 'achieved', 'this', 'name', '.', 'Over', 'the', 'period', 'of', 'time', 'titan', 'watches', 'created', 'a', 'very', 'good', 'reputation', ',', 'that', 'titan', 'name', 'is', 'enough', 'for', 'reputation', '.', 'And', 'definitely', 'titan', 'watches', 'are', 'good', 'enough', 'in', 'comparison', 'to', 'other', 'global', 'brand', 'that', 'they', 'achieved', 'this', 'name.About', 'Titan', 'watches', ':', 'Titan', 'Company', 'Limited', '(', 'earlier', 'known', 'as', 'Titan', 'Industries', 'Limited', ')', 'is', 'a', 'joint', 'venture', 'between', 'the', 'Tata', 'Group', 'and', 'the', 'Tamil', 'Nadu', 'Industrial', 'Development', 'Corporation', '(', 'TIDCO', ')', 'which', 'commenced', 'operations', 'in', '1984', 'under', 'the', 'name', 'Titan', 'Watches', 'Limited', '.', 'Over', 'the', 'period', 'of', 'time', 'titan', 'watches', 'created', 'a', 'very', 'good', 'reputation', ',', 'that', 'titan', 'name', 'is', 'enough', 'for', 'reputation', '.', 'And', 'definitely', 'titan', 'watches', 'are', 'good', 'enough', 'in', 'comparison', 'to', 'other', 'global', 'brand', 'that', 'they', 'achieved', 'this', 'name', '.', 'Over', 'the', 'period', 'of', 'time', 'titan', 'watches', 'created', 'a', 'very', 'good', 'reputation', ',', 'that', 'titan', 'name', 'is', 'enough', 'for', 'reputation', '.', 'And', 'definitely', 'titan', 'watches', 'are', 'good', 'enough', 'in', 'comparison', 'to', 'other', 'global', 'brand', 'that', 'they', 'achieved', 'this', 'name.About', 'Titan', 'watches', ':', 'Titan', 'Company', 'Limited', '(', 'earlier', 'known', 'as', 'Titan', 'Industries', 'Limited', ')', 'is', 'a', 'joint', 'venture', 'between', 'the', 'Tata', 'Group', 'and', 'the', 'Tamil', 'Nadu', 'Industrial', 'Development', 'Corporation', '(', 'TIDCO', ')', 'which', 'commenced', 'operations', 'in', '1984', 'under', 'the', 'name', 'Titan', 'Watches', 'Limited.Titan', 'has', 'diversified', 'into', 'other', 'consumer', 'products', 'also', '.', 'But', 'in', 'watches', 'titan', 'offers', 'various', 'brands', 'including', '...', 'Over', 'the', 'period', 'of', 'time', 'titan', 'watches', 'created', 'a', 'very', 'good', 'reputation', ',', 'that', 'titan', 'name', 'is', 'enough', 'for', 'reputation', '.', 'And', 'definitely', 'titan', 'watches', 'are', 'good', 'enough', 'in', 'comparison', 'to', 'other', 'global', 'brand', 'that', 'they', 'achieved', 'this', 'name', '.', 'Over', 'the', 'period', 'of', 'time', 'titan', 'watches', 'created', 'a', 'very', 'good', 'reputation', ',', 'that', 'titan', 'name', 'is', 'enough', 'for', 'reputation', '.', 'And', 'definitely', 'titan', 'watches', 'are', 'good', 'enough', 'in', 'comparison', 'to', 'other', 'global', 'brand', 'that', 'they', 'achieved', 'this', 'name.About', 'Titan', 'watches', ':', 'Titan', 'Company', 'Limited', '(', 'earlier', 'known', 'as', 'Titan', 'Industries', 'Limited', ')', 'is', 'a', 'joint', 'venture', 'between', 'the', 'Tata', 'Group', 'and', 'the', 'Tamil', 'Nadu', 'Industrial', 'Development', 'Corporation', '(', 'TIDCO', ')', 'which', 'commenced', 'operations', 'in', '1984', 'under', 'the', 'name', 'Titan', 'Watches', 'Limited', '.', 'Over', 'the', 'period', 'of', 'time', 'titan', 'watches', 'created', 'a', 'very', 'good', 'reputation', ',', 'that', 'titan', 'name', 'is', 'enough', 'for', 'reputation', '.', 'And', 'definitely', 'titan', 'watches', 'are', 'good', 'enough', 'in', 'comparison', 'to', 'other', 'global', 'brand', 'that', 'they', 'achieved', 'this', 'name', '.', 'Over', 'the', 'period', 'of', 'time', 'titan', 'watches', 'created', 'a', 'very', 'good', 'reputation', ',', 'that', 'titan', 'name', 'is', 'enough', 'for', 'reputation', '.', 'And', 'definitely', 'titan', 'watches', 'are', 'good', 'enough', 'in', 'comparison', 'to', 'other', 'global', 'brand', 'that', 'they', 'achieved', 'this', 'name.About', 'Titan', 'watches', ':', 'Titan', 'Company', 'Limited', '(', 'earlier', 'known', 'as', 'Titan', 'Industries', 'Limited', ')', 'is', 'a', 'joint', 'venture', 'between', 'the', 'Tata', 'Group', 'and', 'the', 'Tamil', 'Nadu', 'Industrial', 'Development', 'Corporation', '(', 'TIDCO', ')', 'which', 'commenced', 'operations', 'in', '1984', 'under', 'the', 'name', 'Titan', 'Watches', 'Limited.Titan', 'has', 'diversified', 'into', 'other', 'consumer', 'products', 'also', '.', 'But', 'in', 'watches', 'titan', 'offers', 'various', 'brands', 'including', '...']

In [0]:
# k=0
# for i in range(0,115):  # leave last 4 rows
#   l = 5*i
#   dk = pd.DataFrame()
#   dk['Tokens'] =tokens[k:l]
#   dk.to_csv('/content/drive/My Drive/Data_WhareHouse/Tokens/token_{}.csv'.format(i) , index =False)
#   k=l

# ++++++++++++++++++++++++  END   ++++++++++++++++++++

#END .......


#OTHER WORK

#Repalce a value from a column in dataset using map() function

In [46]:
df1 = pd.DataFrame()
liss= ['male' , 'female' , 'male' , 'male' , 'male' , 'female' , 'male' , 'female' , 'female']
df1['Gender'] = liss
df1

   Gender
0    male
1  female
2    male
3    male
4    male
5  female
6    male
7  female
8  female

In [47]:
df1['replace_value'] = df1['Gender'].map({'male': 1, 'female':2 })
df1

   Gender  replace_value
0    male              1
1  female              2
2    male              1
3    male              1
4    male              1
5  female              2
6    male              1
7  female              2
8  female              2

In [48]:
df1['replace_value'] = df1['Gender'].map({'male': 1 })
df1

   Gender  replace_value
0    male            1.0
1  female            NaN
2    male            1.0
3    male            1.0
4    male            1.0
5  female            NaN
6    male            1.0
7  female            NaN
8  female            NaN

`From above implementation we can clearly see that map() function replaces the whole column with another values , if we don't select the values for some mappings in column then it sets it's value as Null by default.`

#Let's try another replace() function that takes two parameters as argument

In [49]:
df1 = pd.DataFrame()
liss= ['male' , 'female' , 'male' , 'male' , 'male' , 'female' , 'male' , 'female' , 'female']
df1['Gender'] = liss
df1

   Gender
0    male
1  female
2    male
3    male
4    male
5  female
6    male
7  female
8  female

In [54]:
df1['Gender'] = df1['Gender'].replace('male', 1)
df1

   Gender
0       1
1  female
2       1
3       1
4       1
5  female
6       1
7  female
8  female